/*Codes by mahdi tasha*/
/*Importing tailwindCSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Defining shadcn and custom styles*/
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }

    .custom-scroll::-webkit-scrollbar {@apply bg-transparent w-[10px];}
    .custom-scroll::-webkit-scrollbar-thumb {@apply dark:bg-white/20 bg-black/20 rounded-[50rem] dark:hover:bg-white/50 hover:bg-black/20}

    .editor .ProseMirror * {white-space: pre-wrap;word-wrap: break-word;}
    .editor hr {@apply dark:border-white border-black}
    .editor h1 {@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;}
    .editor h2 {@apply scroll-m-20 border-b dark:border-b-white border-b-black pb-2 text-3xl font-semibold tracking-tight first:mt-0;}
    .editor h3 {@apply scroll-m-20 text-2xl font-semibold tracking-tight;}
    .editor h4 {@apply scroll-m-20 text-xl font-semibold tracking-tight;}
    .editor p {@apply leading-7 [&:not(:first-child)]:mt-6;}
    .editor a {@apply underline underline-offset-8;}
    .editor blockquote {@apply mt-6 border-l-2 pl-6 italic;}
    .editor table {@apply w-full;}
    .editor table tr {@apply m-0 border-t p-0 even:bg-muted;}
    .editor table thead > tr > :is(th, td) {@apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;}
    .editor :is(ul, ol) {@apply my-6 ml-6 [&>li]:mt-2}
    .editor ul {@apply list-disc}
    .editor ol {@apply list-decimal}
    .editor code {@apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold}
    .editor .ProseMirror:focus {@apply outline-0}

    :is(.dark .editor .is-editor-empty:first-child::before, .dark .editor .character-count) {color: rgba(256,256,256,.5);}

    .editor .character-count {
        color: rgba(0,0,0,.5);
        margin-top: 1rem;
    }

    .is-editor-empty:first-child::before {color: rgba(0,0,0,.5);}
    .dark .is-editor-empty:first-child::before {color: rgba(256,256,256,.5);}
    .editor .is-editor-empty:first-child::before {
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}

@layer base {
    * {@apply border-border;}
    body {@apply bg-background text-foreground;}
}
